
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buttons_container {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.form {
    padding: 0 20px 0 10px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.general_parameters {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.optional_parameters {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px;
  
}

.cost {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
}
.post_field{ 
    max-width: 70px;
}

.form_of_payments {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p { 
        font-size: 11px;
        color: #7A869A;
    }

    label {
        color: #42526E;
    }

        .payment_blocks{
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .payment_block {
                display: flex;
                flex-direction: row-reverse;
                gap: 10px;
            }
        }

}