@import "../../styles/global.scss";

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container_pagination { 
    display: flex;
    justify-content: space-between;
    align-items: center;    

    .itmes_container {
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        gap: 3px;
        width: auto;
        height: 40px;

    } 
}
.drop_down_container {
    display: flex;
    align-items: center;
    gap: 10px;
    .label_per_page {
        font-family: $font-family-compact;
        font-size: 12px;
        color: #6B778C;
      }
}
