@import "../../../../styles/global.scss";
@import "../../../../styles/templates.scss";

.container { 
    font-family: $font-family-compact;
    font-size: 14px;
    line-height: 17px;
    color: #7A869A;  
    width: 100%;  
    resize: none;
    outline: none;
    border: none;
    padding: 12px;
    overflow: hidden;
    @extend %custom-scrollbar;
    &.border { 
        &:focus {
            border: 1px solid #4C9AFF;
        }
    }
}