.container {
    padding: 12px;
    background-color: #FFFFFF;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

        &.tranform { 
            box-shadow: 0px 0px 1px 0px #091E424F;
            box-shadow: 0px 3px 5px 0px #091E4233;
            background-color: #0747A6;

        }

     &:hover { 
        cursor: pointer;
     }
     
    .info_block {
        color: #6B778C;
        opacity: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;        
    }

    .general_info_block {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .int_doc_sum_block {
            color: #0747A6;
            display: flex;
            justify-content: space-between;

            span {
                color: #6B778C;
                opacity: 50%;
            }
        }
    }
}