@import "../../../styles//global.scss";
@import "../../../styles/templates.scss";

.container { 
  
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    &.is_active {
      min-height: 40px;
      max-height: 50px;
      overflow-x: scroll;
      @extend %custom-scrollbar;
    }

    .amount_products {
      font-size: 13px;
      color: #FFFFFF;
      padding: 0 5px;
      background-color: #0747A6;
      border-radius: 100px;
    }
}