@import "../../../styles//global.scss";
@import "../../../styles/templates.scss";

.container { 
    font-family: $font-family-ligth-compact;
    font-size: 14px;
    font-weight: 100;
    color: #0052CC;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    &.is_active {
      min-height: 40px;
      max-height: 50px;
      overflow-x: scroll;
      @extend %custom-scrollbar;
    }

    .product_item { 
      display: flex;
      padding-left: 2px;
      border-radius: 3px;
      background-color: #F4F5F7;  
    }

}