
@font-face {
    font-family: 'compact-regular';
    src: url('../assets/fonts/SFCOMPACTDISPLAY-REGULAR.OTF') format('opentype');
  }

@font-face {
    font-family: 'compact-medium';
    src: url('../assets/fonts/SFCOMPACTDISPLAY-MEDIUM.OTF') format('opentype');
}

@font-face {
    font-family: 'compact-bold';
    src: url('../assets/fonts/SFCOMPACTDISPLAY-BOLD.OTF') format('opentype');
}

@font-face {
    font-family: 'compact-ligth';
    src: url('../assets/fonts/SFCOMPACTDISPLAY-LIGHT.OTF') format('opentype');
}

@font-face {
    font-family: 'compact-heavy';
    src: url('../assets/fonts/SFCOMPACTDISPLAY-HEAVY.OTF') format('opentype');
}

@font-face {
    font-family: 'compact-semibolt';
    src: url('../assets/fonts/SFCOMPACTDISPLAY-SEMIBOLD.OTF') format('opentype');
}