@import 'normalize.css';
@import './fonts.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



// Основні шрифти
$font-family-compact: 'compact-regular';
$font-family-medium-compact: 'compact-meidum';
$font-family-bold-compact: 'compact-bold';
$font-family-heavy-compact: 'compact-heavy';
$font-family-ligth-compact: 'compact-ligth';
$font-family-semibold-compact: 'compact-semibold';
$font-family-pro: 'pro-regular';
$font-family-medium-pro: 'pro-meidum';
$font-family-bold-pro: 'pro-bold';
$font-family-heavy-pro: 'pro-heavy';
$font-family-ligth-pro: 'pro-ligth';
$font-family-semibold-pro: 'pro-semibold';

// Основні кольори 
$primary-color: #0052CC;
$secondary-color: #DE350B;

// Кольори кнопки
$button-default-color: #0052CC;
$button-secondary-color: #EBECEE;
$button-hover-color: #0065FF;
$button-active-color: #0747A6;





