%custom-scrollbar {
    &::-webkit-scrollbar {
      width: 5px;
      height: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: lightgray;
      border-radius: 10px;
    }
 
  }

  %flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
