@import "../../../styles/global.scss";

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-family: $font-family-compact;
    font-size: 14px;
    color: #7A869A;   

    .label_container{ 
        height: 100%;
        min-width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .drop_container {
       width: 70%;
    }
}