
.container {
    height: 40px;
    display: flex;
    padding: 0 20 0 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffff;
    border-bottom: 1px solid  #EBECF0;
}