@import "../../../../../styles/global.scss";

.item { 
    font-family: $font-family-compact;
    font-weight: 400;
    font-size: 12px;
    line-height: 17.4px;
    color: #172B4D;
    align-items: center;
    padding: 8 16px 8px 16px;
    height: max-content;


        &:hover { 
            background-color: #DEEBFF;
        }

      
}