@import "../../../../styles/global.scss";
.changed {
    background-color: #00875A;
  }
  
  .notChanged {
    background: #FF8B00;
  }
  
  .double {
    background: #DE350B;
  }
  
  .offline {
    background-color: grey;
  }
  .default { 
    font-family: $font-family-pro;
    margin: 0;
    width: 70px;
    min-height: 16px;
    border-radius: 3px;
    padding: 0px, 4px, 0px, 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffff;
    font-size: 11px;
    font-weight: 700;
  }