.form_of_payments {
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p { 
        font-size: 11px;
        color: #7A869A;
    }
    label {
        color: #42526E;
    }

        .payment_blocks{
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .payment_block {
                display: flex;
                flex-direction: row-reverse;
                gap: 10px;
            }
        }
}