.product_item { 
    display: flex;
    cursor:default;
    padding-left: 2px;
    border-radius: 3px;
    background-color: #F4F5F7;  
  }

  .update_product {
    display: flex;
    align-items: center;
  }