@import "../../../styles/templates.scss";

.container { 
width: 390px;
height: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 30px 15px 30px 15px;

.wrapper{
    height: 100%;
    width: 100%;
    min-width: 300px;
    max-width: 500px;
}

.source_tag_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: content;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .buttons_container {
        margin-top: 10px;
        width: 100%;
        @extend %flex-center;
        gap: 30px;
    }
}
}