@import "../../../styles/global.scss";

.table_container {
  font-family: $font-family-pro;
    width: 870px;
    overflow-x: auto;
    font-size: 14px;
    max-height: 575px;
    overflow-y: scroll;
    border-bottom: 2px solid #DFE1E6 ;

    thead.header {
      border-bottom: 2px solid #DFE1E6;
      color: #6B778C;
    font-size: 12px;
    font-weight: 600px;
      text-align: left;
      width: 200px;
      height: 30px;
  }
}

.table_container::-webkit-scrollbar {
    width: 5px;
}

.table_container::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
}

table {
    
    width: 100%;    
    height: 100%;
    border-bottom: 2px solid #DFE1E6;

    td {
        font-size: 14px;
        padding-top: 10px;
        width: 200px;
        height: 40px;
    }
}











