@import "../../../../styles/global.scss";

.container {
    font-family: $font-family-compact;
    font-size: 12px;   
    position: relative;
    
    .drop_down_button {
        height: 100%;
        width: 100%;
    }
    .list {
        cursor: pointer;
        margin-top: 5px;
        right: 1px;
        position: absolute;
        z-index: 999;
        background-color: #FFFFFF;
    box-shadow: 0px 0px 1px 0px #091E424F;
    box-shadow: 0px 3px 5px 0px #091E4233;

    &.above {
        margin-top: 5px;
        right: 1px;
    }

    &.below {
        bottom: 35px;
    }
    }
}
