.container {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    position: relative;
    &.hover {
        background-color: #DEEBFF
    }

    .block {
        display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 32px;
    padding: 0 5px;
    border-radius: 2px;
    }
    .info_block {
        display: flex;
        align-items: center;
        gap: 5px;
    }

.icons {
    display: flex;
    align-items: center;
    gap: 5px;
}
}