.container {
    display: flex;
    flex-direction: column;
    position: relative;
    .block {
        display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 32px;
    padding: 0 5px;
    border-radius: 2px;

    }
    .info_block {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .copy_icon {
        display: none;
    }
}

.container:hover {
    background-color: #DEEBFF;
}

.container:hover .icons {
    display: flex;
}

.icons {
    display: none;
    align-items: center;
    gap: 5px;
}
