@import "../../../styles/global.scss";
@import "../../../styles/templates.scss";

.container {
    font-family: $font-family-compact;
    font-size: 12px;
    line-height: 17.4px;
    font-weight: 400px;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
        background-color: #DEEBFF;
    }

    .dicription {
        flex: 1;
        display: flex;
        gap: 10px;

        .name_product {
            display: flex;
            max-width: 220px;
        }
    }
    
    .amount_price_container {
        width: 102px;
        display: flex;
        justify-content: space-between;

        .amount {
            width: 30px;
            height: 20px;
            @extend %flex-center;
            color: blue;

        }
    }

    .price {
        max-width: 50px;
        @extend %flex-center;
        height: 20px;
    }
}