.icon { 
    
    cursor: pointer;
    border: none;
    background-color: white;
    width: 24px;
    height: 24px;
    fill: #42526E;

    &.left { 
        transform: rotate(90deg); 
    }

    &.rigth { 
        transform: rotate(180deg); 

    }

    &:focus { 
        fill:black;
    }
}

.disabled { 
    transform: rotate(90deg); 
    cursor: pointer;
    border: none;
    background-color: white;
    width: 24px;
    height: 24px;
    fill: #A5ADBA;
}

.item { 
    margin: 0 5px 0 5px;
    cursor: pointer;
    background: white;
    border: none;
    width: 12px;
    height: 12px;
    padding: 6px;
}