@import "./styles//global.scss";
.container { 
    font-family: $font-family-compact;
    font-size: 14px;
    height: 100vh;
    display: flex;

    .content_container {
        height: 100%;
        width: 100%;
        overflow: scroll;
    }
}