@import "./styles//global.scss";
.container { 
    font-family: $font-family-compact;
    font-size: 14px;
    height: 100vh;
    width: 100vw;
    display: flex;

        .content_container {
            width: 100%;
            height: 100%;
            overflow-y: hidden;

            @media (max-width: 768px) {
                overflow-y: scroll;
            }
        }
}