@import "../../../styles/templates.scss";


.add_products_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: -20px;
}
.products_list {
    max-height: 50vh;
    overflow-y: scroll;
    @extend %custom-scrollbar
}

.buttons_container {
    display: flex;
    padding: 16px 8px;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid #DFE1E6;

}
.content_wrapper {
    position: relative;
    margin-bottom: 20px;
    z-index: 1000; 
}


  .button_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
