@import "../../../styles/templates.scss";


.add_products_container {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.products_list {
    width: 409px;
    max-height: 275px;
    overflow-y: scroll;
    @extend %custom-scrollbar
}

.buttons_container {
    display: flex;
    padding: 16px 8px;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    border-top: 1px solid #DFE1E6;

}
.content_wrapper {
    position: relative;
    margin-bottom: 20px;
    z-index: 1000; 
}

.overlay_active {
    overflow: hidden; 
    overflow-y: auto; 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    z-index: 998; 
  }
