@import '../../../../styles/global.scss';

.container { 
    position: relative;
    height: 100%;
    width: 100%;

    .close_icon {
        position: absolute;
        top: 8px;
        right: 8px;
    }
}
.value {
    padding: 12px;
    color: #7A869A ;   
    font-size: 14px;
    line-height: 17px; 
    background-color: #ffff;
    border: 1px solid #EBECEE;
    max-height: 65vh;
    overflow: hidden;
    display: flex;
    white-space: wrap;

    &.clicked {
        background-color: #F4F5F7;
    }
}

