@import '../../../../styles/global.scss';

.container { 
    height: 100%;
    width: 100%;
}
.value {
    padding: 12px;
    color: #7A869A ;   
    font-size: 14px;
    line-height: 17px; 
    background-color: #ffff;
    border: 1px solid #EBECEE;
    max-height: 65vh;
    overflow: hidden;
}

